.container
    .row
        .page-header.clearfix
            .col-md-3
                h2 #{title}
            .col-md-3.col-md-offset-6
                <a href="https://github.com/ahalinux/docker-management", target=_blank><img class="imgtitle", src="/images/gitlogo.png"/></a>
                small DOCKER 控制面板
.navbar.navbar-default.navbar-fixed-bottom
    .container
        .navbar-header
            a.navbar-brand DOCKER 控制面板
        if(user)
            p.navbar-text.navbar-right
                span 欢迎您， #{user.name}
                span &nbsp; | &nbsp;
                a.navbar-link(href="/logout") 登出
        else
            p.navbar-text.navbar-right
                a.navbar-link(href="#", data-toggle="modal", data-target="#signupModal") 注册
                span &nbsp; | &nbsp;
                a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登录
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signup")
                .modal-header 注册
                .modal-body
                    .form-group
                        label.control-lable 用户名
                        input.form-control(name="user[name]", type="text")
                    .form-group
                        label.control-lable 密码
                        input.form-control(name="user[password]", type="password")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signin")
                .modal-header 登录
                .modal-body
                    .form-group
                        label.control-lable 用户名
                        input.form-control(name="user[name]", type="text")
                    .form-group
                        label.control-lable 密码
                        input.form-control(name="user[password]", type="password")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 登录
